.sec5 {
    background-image: url('../assets/img/1.PNG');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0%;

    
    h2 {
        font-size: 30px;
    }
    .btn-cta {
        width: 35%;
    }
}