.sec1{
    background-image: url('../assets/img/Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12% 0%;
    background-position: bottom;

    h1 {
        font-size: 65px;
    }
}